@import '../../styles/variables';

.subsection {
  margin-bottom: 0.75em;

  &-title {
    font-weight: bold;
    font-size: 19px;
    margin: 0;
    display: inline-block;
  }

  &-date {
    font-size: 16px;
    color: $duleone-red;
    display: block;


    @media (min-width: 520px) {
      float: right;
      vertical-align: top;

      &-block {
        @media only print {
          float: none;
        }
      }
    }
  }

  &-position-title {
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
    margin: 0;
    vertical-align: top;
  }
}

@media only print {
  .subsection {
    page-break-inside: avoid;

    &-date {
      font-size: 9pt;
    }

    &-title,
    &-position-title {
      font-size: 13pt;
    }
  }
}
