.about {
  padding-top: 48px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.about .line:nth-child(n+1) {
  display: block;

  @media only screen and (min-width: 520px) {
    display: inline-block;
    margin-left: 4px;
  }
}

.coa {
  display: block;
  margin: 48px auto 0;
  max-width: 540px;
  width: 100%;
}
