@import '../../styles/variables';

.content {
  max-width: 736px;
  margin: 3em 1em 0;
  padding-top: 1em;

  @media only screen and (min-width: 363px) {
    margin: 4em 1em 0;
  }

  @media only screen and (min-width: 520px) {
    margin: 2em 1em 0;
  }
  @media only screen and (min-width: 752px ) {
    margin: 2em auto 0;
  }

  @media only print {
    max-width: 100%;
    margin: 4em 0;
  }
}
