@import '../../../styles/variables';

.header {
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 19px;
  padding: .5em;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @media only screen and (min-width: 363px) {
    font-size: 25px;
  }

  @media only screen and (min-width: 520px) {
    flex-direction: row;
    font-size: 19px;
  }

  @media only print {
    margin: 0;
    padding: 0;
    position: absolute;
    border-bottom: 1px solid #ccc;
  }
}

.name {
  color: black;

  @media only print {
    display: block;
    font-size: 30px;
    width: 100%;
  }
}

.nav {
  width: 100%;

  &-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;

    &-item {
      display: inline-block;
      position: relative;

      &-link {
        text-decoration: none;
        position: relative;

        &.active,
        &:hover,
        &:focus {
          &::after {
            transform: scaleX(1);
            transition: transform linear 250ms;
            transform-origin: left;
          }
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 1px;
          transform: scaleX(0);
          background-color: $link-color;
          transition: transform linear 250ms;
          transform-origin: right;
        }
      }

      &:not(:first-child)::after {
        content: none;
        background-color: black;
        border-radius: 50%;
        height: 5px;
        width: 5px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (min-width: 520px) {
          content: '';
        }
      }

      @media only screen and (min-width: 363px) {
        margin: 0 0;
      }

      @media only screen and (min-width: 520px) {
        padding: 0 0.5em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  @media only screen and (min-width: 520px) {
    width: auto;
  }

  @media only print {
    display: none;
    visibility: hidden;
  }
}

