.u-no-print {
  @media only print {
    display: none !important;
    visibility: hidden !important;
  }
}

.u-only-print {
  @media only screen {
    display: none !important;
    visibility: hidden !important;
  }

  @media only print {
    display: inherit;
    visibility: visible;
  }
}

.u-print-half {
  @media only print {
    width: 50% !important;
    display: inline-block;

    & + & {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.u-mr4 {
  margin-right: 4px;
}

.u-inline-block {
  display: inline-block;
}
