@import './variables';
@import './utility';

html,
body {
  padding: 0;
  font-family: $screen-font;
  font-size: 19px;
  margin: 0 auto;
  position: relative;
  -webkit-text-size-adjust: none;

  @media only print {
    font-family: $print-font;
    max-width: 100%;
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

#__next {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:focus,
a:active {
  border: none;
  box-shadow: none;
  outline: none;
}

ul {
  padding-left: 36px;
}

p {
  margin: 0;
}
